
.sidebar {
  width: 350px;
  height: 100%;
  background-color: var(--border);
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--border);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);

  @media (max-width: 1023px) {
    position: fixed;
    top: 80px;
    left: 0;  
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    width: 100%;
    height: calc(100dvh - 80px);
    z-index: 99;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
}

.open{
  @media (max-width: 1024px) {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

.sidebarHeader {
  width: 100%;
  height: 80px;
  background-color: var(--surface);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  @media(min-width: 1024px) {
    display: none;
  }
}
