.header {
  width: 100%;
  height: 80px;
  background-color: var(--surface);
  display: flex;
  align-items: center;
  gap: 20px;
  z-index: 100;

  @media(max-width: 1024px) {
    padding: 0 20px;
  }
}

.sidebarHeader {
  width: 100%;
  max-width: 350px;
  height: 80px;
  background-color: var(--border);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  @media(max-width: 1024px) {
    display: none;
  }
}

.headerContent {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 20px;  

  @media(min-width: 1024px) {
    padding: 0 20px;
  }
}