.catalogPage {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  padding: 12px 16px;
  position: relative;

  @media(min-width: 768px){
    padding: 24px 32px;
  }

  @media(min-width: 1024px){
    padding: 48px 64px;
  }
}